@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ECEDE8;
}


/*parte superior*/

.contenedor {
    width: 100%;
    display: flex;
    margin-bottom: -100px;
    justify-content: center;
    align-items: center;
}

.contenedor figure {
    position: relative;
    height: 450px;
    width: 1900px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px #12130F;
    margin-top: -70px;
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.7);
    /*background: #86C332;*/
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure .capa h3 {
    color: #12130F;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    font-size: 50px;
}

.contenedor figure .capa p {
    color: #12130F;
    font-size: 22px;
    line-height: 1.5;
    margin: auto;
    width: 100%;
    max-width: 500px;
}


/*  Cuerpo  */

.linea_2 {
    background: #86C332;
    height: 2px;
    width: 100%;
    display: block;
}

.hjf {
    margin-top: -50px;
}

.input.cont {
    width: 450px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: -5px;
}

.input {
    width: 100%;
    height: 40px;
    position: relative;
}

.input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 18px;
}

.input label {
    position: absolute;
    left: 0;
    bottom: 10px;
    color: silver;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input input:focus~label,
.input input:valid~label {
    transform: translate(-20px);
    font-size: 15px;
    color: #86C332;
}

.input input:focus,
.input input:valid {
    border-color: #86C332;
}

.post-body i {
    width: 12px;
    height: 12px;
}

.icono-placeholder {
    padding: 0.25em 0.6em;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    text-align: center;
    box-shadow: 0.2px 3px rgba(0 0 0 /0, 15);
    width: 30%;
}

.post-body hr {
    color: #86C332;
    width: 4px;
    height: 4px;
}

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img-1 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post {
    box-shadow: 0 1px 6px 1 px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px solid #000;
    padding: 0px 25px;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
}

.post-body span {
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2 {
    margin-bottom: 15px;
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #86C332;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
}

.post-body .post-link:hover {
    background: #659523;
    box-shadow: 1px 7px 6px 1px rgba(0, 0, 0, .1);
    transform: translateY(-2px);
}

@media (max-width:840px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 150px;
    }
    .contenedor {
        height: 100%;
        width: 100%;
    }
    .nav {
        font-size: 10px;
    }
    .buscar input {
        height: 100%;
        width: 100%;
        font-size: 10px;
    }
    .menu i {
        font-size: 10px;
    }
    .btn {
        width: 25px;
        height: 25px;
    }
}

@media (max-width:600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}