body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/arte-digital.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__form {
    background-color: #12130F;
    /*#0a1e35*/
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}

.container__form img {
    width: 100px;
    height: 100px;
    margin-left: 130px;
}

.container__form h2 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.container__form input {
    display: block;
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid white;
}

.container__form .check {
    width: 15px;
    height: 15px;
    display: inline;
}

.container__form label {
    color: white;
}

.container__form a {
    color: white;
    text-decoration: none;
    margin-left: 45px;
}

.container__form a:hover {
    color: #b8b8b8;
}

.container__form label:hover {
    color: #b8b8b8;
}


/* .container__form .boton-form {
    width: 200px;
    border-radius: 15px;
    background-color: #86C332;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #000000;
} */

.container__form .boton-form {
    width: 200px;
    border-radius: 10px;
    background-color: #86C332;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #000000;
}

.container__form .boton-form:active {
    background-color: #0b5a1c;
}

.btn-guardar {
    text-align: center;
    justify-content: center;
    display: flex;
}

.direc-cuenta {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 35px;
}

.direc-cuenta span {
    padding: 0 10px;
}

@media (max-width:750px) {
    .container__form {
        background-color: #12130F;
        /*#0a1e35*/
        border-radius: 15px;
        padding: 20px;
        opacity: 0.9;
    }
    .container__form a {
        color: white;
        text-decoration: none;
        margin-left: 25px;
    }
}