body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/arte-digital.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__form {
    background-color: #12130F;
    /*#0a1e35*/
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}

.container__form img {
    width: 100px;
    height: 100px;
    margin-left: 130px;
}

.container__form h2 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.container__form input {
    display: block;
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid white;
}

.container__form .check {
    width: 15px;
    height: 15px;
    display: inline;
}

.container__form label {
    color: white;
}

.container__form a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.container__form a:hover {
    color: #b8b8b8;
}

.container__form label:hover {
    color: #b8b8b8;
}

.container__form .boton-form {
    margin: 10px 0;
    background: none;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}

.container__form .boton-form:hover {
    background-color: #86C332;
    color: #fff;
}

.btn-inicio-sesion {
    text-align: center;
}

.btn-guardar {
    text-align: center;
    justify-content: center;
    display: flex;
}

.direc-cuenta {
    text-align: center;
    justify-content: center;
    display: flex;
}

.direc-cuenta span {
    padding: 0 10px;
}

@media (max-width:750px) {
    .container__form a {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
    .container__form {
        background-color: #12130F;
        /*#0a1e35*/
        border-radius: 15px;
        padding: 20px;
        opacity: 0.9;
    }
}

.alert-error {
    color: #fff;
}

.search-box button {
    margin-top: -40px;
}