@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10;
    font-size: 1rem;
    margin: 20px;
    border-radius: 50% #fff;
    border: none;
    cursor: pointer;
}

#Configuracion {
    position: fixed;
    width: 210px;
    height: fit-content;
    background-color: #fff;
    z-index: 40;
    display: none;
    border-radius: 20px;
    margin: 5px 20px;
    float: left;
    box-shadow: 2px solid #000;
    right: 0;
}

#Configuracion .Configuracion-menu {
    margin: 10px;
    list-style: none;
}

#Configuracion .Configuracion-menu li i {
    font-size: 45px;
    padding: 10px;
}

#Configuracion .Configuracion-menu li a {
    text-decoration: none;
    color: #2f3640;
}

#Configuracion .Configuracion-menu span {
    height: 2px;
    width: 100%;
    color: #659523;
}

.Cerrar-Sesion {
    margin-top: 30px;
}

.Configuracion.active {
    background: #12130F;
    position: fixed;
    z-index: 20;
    display: block;
}


/*Menu responsivo*/

header {
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.nav {
    width: 100%;
    background: #12130F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: 0;
    position: relative;
}

.nav ul {
    margin-bottom: 0;
}

.nav.active {
    background: #12130F;
    position: fixed;
    z-index: 200;
}

#Configuracion.active {
    margin-top: 105px;
}

.nav.active .logo,
.nav.active a {
    color: #fff;
}

.nav.active a:hover {
    /* background: #86C332; */
    color: #fff;
}

.logo {
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 20px;
    font-size: 42px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover {
    padding: 3px;
    background: #86C332;
    color: #000;
    border-radius: 15px;
}


/* Otro diseño de boton */

.menu-logearse button {
    padding: 10px 15px;
    width: 180px;
    margin: 0 10px;
    background: none;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}


/* .menu-logearse {
    padding: 0 15px;
    position: relative;
} */

.menu-logearse ul {
    margin-top: 10px;
}

.menu-logearse ul li {
    display: inline;
    margin: 0 5px 10px 5px;
}

.menu-logearse ul li a:hover {
    padding: 0;
    border-radius: 0px;
    background: none;
}

.menu-logearse.active ul li a:hover {
    background: none;
    padding: 0;
    border-radius: 0px;
}

.menu-logearse button:hover {
    background: #659523;
}

.scrol {
    height: 0px;
}

.search-box {
    position: relative;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    background: #2C3441;
    height: 40px;
    border-radius: 50px;
    padding: 30px 10 10 10;
    text-align: center;
    margin: 40px 0 0 0;
}

.search-box:hover>input {
    width: 250px;
    padding: 0 10px;
}

.search-box:hover>.icon {
    background: #86C332;
}


/* .search-box button {
    margin-top: -40px;
} */


/* .icon:hover {
    transform: rotate(360deg) scale(0.8);
} */

.search-box input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}

.icon {
    color: #fff;
    float: right;
    width: 50px;
    font-size: 1.3rem;
    height: 50px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}


/* Pie de la pagina*/

.pie-pagina {
    width: 100%;
    background-color: #12130F;
    bottom: 0;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #86C332;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aquamarine;
}

.pie-pagina .grupo-2 {
    background-color: #719C35;
    /*#0a1a2a*/
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

@media screen and (max-width:800px) {
    /*Configuracion  Diseño 1*/
    #Configuracion {
        position: fixed;
        width: 150px;
        height: fit-content;
        background-color: #fff;
        z-index: 40;
        display: none;
        margin: 5px 0;
    }
    #Configuracion .Configuracion-menu {
        margin: 10px;
        list-style: none;
    }
    #Configuracion .Configuracion-menu li i {
        font-size: 25px;
        padding: 5px;
    }
    #Configuracion .Configuracion-menu li a {
        text-decoration: none;
        font-size: 0.8rem;
    }
    #Configuracion .Configuracion-menu span {
        height: 2px;
        width: 100%;
        color: #659523;
    }
    .Cerrar-Sesion {
        margin-top: 20px;
    }
    #Configuracion.active {
        position: fixed;
        margin-top: 85px;
        z-index: 40;
    }
    /* Menu  pagina*/
    .logo {
        font-size: 1.2rem;
    }
    .nav ul li {
        font-size: 25px;
        padding: 0 6px;
        margin: 0;
    }
    /* ------ */
    .menu-logearse {
        padding: 0;
        position: relative;
    }
    .menu-logearse ul {
        padding-bottom: 0;
    }
    .menu-logearse ul li {
        list-style-type: none;
        display: flex;
    }
    .menu-logearse ul {
        margin-top: -5px;
    }
    /* Segundo diseño de boton :D */
    .menu-logearse button {
        padding: 5px 5px;
        width: 110px;
        margin: 0 5px;
        background: none;
        border: 2px solid #fff;
        cursor: pointer;
        color: #fff;
        font-size: 10px;
    }
    .menu-logearse button:hover {
        background: #659523;
    }
    .menu .home-not-loged {
        padding: 0;
        margin-top: 18px;
    }
    .menu i {
        font-size: 25px;
    }
    .search-box {
        position: relative;
        /* transform: translate(-70%, -50%); */
        height: 35px;
        text-align: center;
        left: 18%;
    }
    .search-box:hover>input {
        width: 125px;
        padding: 0 10px;
    }
    .search-box:hover>.icon {
        background: #86C332;
    }
    .search-box input {
        width: 0;
        border: none;
        outline: none;
        padding: 0;
        background: none;
        font-size: 0.8rem;
        transition: 0.5s ease;
        line-height: 40px;
        color: #fff;
    }
    /* .search-box button {
        margin-top: -35px;
    } */
    .icon {
        color: #fff;
        float: right;
        width: 40px;
        font-size: 20px;
        height: 40px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;
        text-decoration: none;
    }
    /* pie de pagina */
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .box h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    .box p {
        text-align: center;
        font-size: 1rem;
    }
    .red-social {
        text-align: center;
    }
    .red-social a {
        margin: 0px 15px;
    }
}