body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #D9DBD2;
}


/* #settings-artista {
    display: none;
} */

.column {
    float: left;
}

#settings-artista {
    position: absolute;
    width: 210px;
    height: 216px;
    background-color: rgba(255, 255, 255, 0.779);
    z-index: 40;
    display: none;
    border-radius: 20px;
    right: 125px;
    box-shadow: 2px solid #000;
    border: 1px solid #86C332;
}

.guardados {
    left: 0;
}

.Configuracion-settings {
    padding: 10px;
    list-style: none;
}

.Configuracion-settings ul li {
    float: left;
    padding: 15px 0;
}

#settings-artista .Configuracion-settings li i {
    font-size: 45px;
    padding: 10px;
}

#settings-artista .Configuracion-settings li a {
    text-decoration: none;
}

#settings-artista .Configuracion-settings span {
    height: 2px;
    width: 100%;
    color: #659523;
}

.settings-container {
    position: absolute;
    margin-left: 445px;
    top: 35px
}

.settings {
    font-size: 25px;
}

.lista-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-info .lista-li {
    float: left;
    display: block;
    padding: 5px 70px;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.texto-bio {
    text-align: center;
}

.perfil-publicar {
    left: 10%;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


/* .seccion-perfil-usuario {
    margin-top: -100px;
} */

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#86C332, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    border-radius: 100%;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
    /*
    background-image: url('http://localhost/multimedia/png/user-portada-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.perfil-usuario-portada_2 {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    height: 17rem;
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.perfil-usuario-avatar {
    z-index: 0;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 850px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo_2 {
    display: block;
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    padding: 30px 0px 30px 0px;
    color: #848484;
    font-size: 0.95em;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.btn-Crear-Publicacion {
    top: 0;
    left: 0;
    padding: 5px 5px;
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    position: absolute;
    margin-top: 3.2%;
    margin-left: 3.2%;
    transition: 0.5s;
}

.btn-Crear-Publicacion:hover {
    color: #fff;
    background: #86C332;
}

.btn-Crear-Publicacion i {
    color: #1a1919;
    font-size: 18px;
    padding: 10px 5px;
}

.btn-Editar-Bio {
    top: 0;
    right: 0;
    padding: 5px 5px;
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    position: absolute;
    margin-top: 3.2%;
    margin-right: 3.2%;
    transition: 0.5s;
}

.btn-Editar-Bio:hover {
    color: #fff;
    background: #86C332;
}

.btn-Editar-Bio i {
    color: #1a1919;
    font-size: 18px;
    padding: 10px 5px;
}

@media(max-width:550px) {
    /* Bio Usuario + Botones */
    .seccion-perfil-usuario .perfil-usuario-bio {
        margin-bottom: 1.25rem;
        text-align: center;
        height: 30vh;
    }
    .lista-info {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .linea_2 {
        margin-top: 100px;
    }
    .settings-container {
        top: 5px;
        right: 20px;
    }
    .btn-Editar-Bio {
        top: 30%;
        right: 0;
        padding: 5px 5px;
        border: #bfc0c2 solid 2px;
        color: #1a1919;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8rem;
        position: absolute;
        margin-top: 3.2%;
        margin-right: 3.2%;
        transition: 0.5s;
    }
    .btn-Crear-Publicacion {
        top: 30%;
        left: 0;
        padding: 5px 5px;
        border: #bfc0c2 solid 2px;
        color: #1a1919;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8rem;
        position: absolute;
        margin-top: 3.2%;
        margin-left: 3.2%;
        transition: 0.5s;
    }
    /* Settings  perfil*/
    .settings {
        font-size: 35px;
    }
    #settings-artista {
        right: 1%;
        bottom: 25px;
    }
}


/*-----------------Configurar Biografia-----------------*/

#config-fondo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    /*Cambiar a none para ver*/
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.config-fondo-bio {
    width: 500px;
    height: 500px;
    justify-content: center;
    position: flex;
    background-color: #fff;
    border-radius: 20px;
}

.config-bio-top {
    background-color: #12130F;
}

.config-bio-top h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px 0px;
}

.config-bio-centro {
    position: relative;
    text-align: center;
}

.config-bio-centro img {
    height: 120px;
    width: 120px;
    border: 1px solid #12130F;
    border-radius: 50%;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.config-bio-centro form {
    position: relative;
}


/* .bio-centro {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #86C332;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 0 50px 0 0;
} */

.bio-centro {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px 15px;
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 50px 0 0;
}

.bio-centro:hover {
    background: #86C332;
    color: #fff;
}

.form-group label {
    width: 80px;
    display: inline-block;
    position: relative;
    top: -80px;
}

.form-group {
    margin-top: 30px;
}

.form-group textarea {
    padding: 10px;
    border-radius: 20px;
    width: 330px;
    height: 100px;
    resize: none;
}

.bio-bottom input {
    padding: 5px 15px;
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.bio-bottom input:hover {
    background: #86C332;
    color: #fff;
}

.bio-bottom {
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
}


/*------------------- Publicacion -----------------------*/

.publicacion-fondo {
    border-radius: 15px;
    background-color: #fff;
    height: 70%;
    width: 35%;
    position: fixed;
    z-index: 10;
    bottom: 10%;
    border: 1px #12130F solid;
}

.section-publicacion {
    display: none;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 4;
    background: #000;
}

.publicacion-top {
    text-align: center;
    justify-content: center;
    background-color: #12130F;
    font-size: 1rem;
    color: #fff;
    height: 50px;
    padding: 7px 0 0 0;
}

.btn-publicacion-cerrar {
    font-size: 30px;
    top: 0;
    right: 0;
    position: absolute;
    padding: 3px 7px;
}

.publicacion-centro {
    height: 20vh;
}

.publicacion-centro img {
    width: 130px;
    height: 130px;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    bottom: -40px;
    margin: 10px 10px 10px 20px;
}

.publicacion-centro input {
    padding: 15px 10px;
    position: absolute;
    margin: 15px 0px 5px 0px;
    width: 50%;
    border-radius: 10px;
}

.publicacion-centro textarea {
    padding: 5px 10px;
    position: relative;
    width: 60%;
    border-radius: 10px;
}

.publicacion-centro .form-group {
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    width: 100%;
    left: 25%;
    margin-top: 50px;
    top: 35px;
}

.publicacion-centro .form-group input {
    text-align: center;
}

.publicacion-centro i {
    color: #86C332;
    margin: 10px 5px 0 0;
    width: 25px;
    height: 25px;
    font-size: 25px;
    padding: 10px 0 0 0;
}

.publicacion-bottom button img {
    width: 100%;
    height: 270px;
    padding: 20px 40px;
    border-radius: 20px;
}

.publicacion-bottom {
    border-radius: 20px;
}


/* .publicacion-bottom .img-crear-publicacion_ {
    padding-top: 110px;
} */

.publicacion-bottom input {
    width: 100px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #86C332;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 0 15px;
}

.publicacion-bottom_2 {
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px 0;
}


/* .publicacion-bottom_2 input {
    width: 100px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: #86C332;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 0 25px;
} */

.publicacion-bottom_2 input {
    padding: 5px 15px;
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.publicacion-bottom_2 input:hover {
    background: #86C332;
    color: #fff;
}

@media (max-width:750px) {
    .publicacion-fondo {
        width: 100%;
        position: fixed;
        height: 75%;
    }
    .publicacion-centro {
        text-align: center;
        position: relative;
    }
    .publicacion-centro input,
    textarea,
    i {
        grid-template-columns: 1fr;
    }
    .publicacion-centro img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        text-align: center;
        margin: 20px;
    }
    .publicacion-bottom img {
        border-radius: 20px;
        margin-top: 30px;
    }
    /* Inputs de crear publicacion */
    .publicacion-centro input {
        margin: 0;
    }
    .config-fondo-bio {
        height: 60%;
    }
    #descripcion-post {
        position: flex;
        resize: none !important;
        height: 6em !important;
        top: 140px !important;
        left: 0 !important;
    }
    #emoji-post {
        position: absolute;
        margin-left: 0 !important;
        top: 180px !important;
        left: 13% !important;
    }
    .publicacion-centro .form-group {
        left: -25%;
    }
}

@media(max-width:414px) {
    .bio-centro {
        text-align: center;
        position: absolute;
        top: 150px;
        right: 85px;
        padding: 5px 15px;
        border: #bfc0c2 solid 2px;
        color: #1a1919;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1rem;
        margin: 0 50px 0 0;
    }
    .form-group label {
        right: 110px;
        top: -10px;
    }
}


/* Ver Publicacion */

.ver-publi_1 {
    height: 100%;
    border: #ced0d4 1px solid;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px #999;
}

.ver-publi_1 img {
    position: absolute;
    width: 100%;
    height: 92%;
    z-index: 1;
}

.ver-publi-titulo {
    text-align: center;
    font-size: 25px;
    color: #000;
    border: #ced0d4 solid 1px;
    padding: 10px;
    text-transform: uppercase;
}

.ver-publi_2 {
    border: #ced0d4 1px solid;
}

.ver-publi-superior img {
    width: 80px;
    height: 70px;
    border: 3px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    margin: 10px 0px 10px 20px;
}

.img-publicacion-movil {
    height: 50vh;
}

.ver-publi-superior h1 {
    position: relative;
    font-size: 18px;
    color: #000;
    float: right;
    right: 80px;
    margin: 20px 120px 10px 10px;
    text-transform: lowercase;
}

.ver-publi-superior h1:first-letter {
    text-transform: uppercase;
}

.ver-publi-superior p {
    font-size: .9375rem;
    color: #000;
    margin: 5px 15px 15px 15px;
    text-align: left;
}

.ver-publi-superior span {
    background-color: #F3EAF4;
    height: 2px;
    display: block;
    margin: 0 5%;
}

.ver-publi-superior .ver-publi-lista .corazon {
    color: #fc0127;
    font-size: 1.3rem;
    padding: 10px 35px;
}

.ver-publi-superior .ver-publi-lista .comentar,
.compartir {
    color: #317FFF;
}

.ver-publi-lista i {
    padding: 10px 5px;
    font-size: 1rem;
}

.ver-publi-lista ul {
    margin-bottom: 0;
}

.ver-publi-superior ul {
    text-align: center;
}

.ver-publi-superior li {
    display: inline;
    list-style: none;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.ver-publi-superior li:hover {
    background: #f5f5f5;
}


/*------Ver Comentarios Publi*/

.ver-boxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0px;
    background-color: white;
}

.ver-testimonials-box {
    padding: 15px;
    margin: 5px 0;
    height: 115px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #F3EAF4;
}

.ver-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}

.ver-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ver-profile {
    display: flex;
    align-items: center;
}

.ver-name-user {
    display: flex;
    flex-direction: column;
}

.ver-name-user strong {
    color: #3d3d3d;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.ver-name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.ver-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ver-client-comment {
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    margin-top: -17px;
}

.ver-client-comment p {
    font-size: 12px;
    padding-right: 10px;
    margin-left: 50px;
    color: #4b4b4b;
    text-align: justify;
    vertical-align: middle;
}

.ver-client-comment i {
    position: relative;
    float: right;
    right: 5px;
    top: 0;
    color: #ff0000;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}

.ver-client-comment i:visited {
    color: #ff0000;
}

.ver-client-responder {
    text-align: center;
}

.ver-client-responder input {
    border: none;
    padding: 0px 5px;
    background: none;
    cursor: pointer;
}

.ver-client-responder ul {
    margin-bottom: -5px;
    list-style: none;
    text-align: center;
}

.ver-client-responder ul li {
    display: inline-block;
    padding: 5px;
}

.ver-client-responder .ver-li {
    font-size: 12px;
    float: left;
    margin-left: 50px;
}

.ver-client-responder .ver-li-2 {
    font-size: 12px;
    float: left;
}

.ver-client-responder .ver-li-3 {
    font-size: 12px;
    float: left;
}

.ver-crear-comentario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    position: relative;
    border-top: 1px #ced0d4 solid;
    text-align: center;
    justify-content: center;
    bottom: 0;
    top: -0;
}

.ver-crear-comentario i {
    padding: 5px;
    margin-top: 13px;
    font-size: 25px;
    color: #86C332;
    text-align: center;
}

.ver-crear-comentario .ver-comentario-añadir {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: #000;
    margin: 15px;
}

.ver-crear-comentario .ver-comentario-btn {
    border: #bfc0c2 solid 2px;
    color: #1a1919;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    margin: 15px 5px;
    padding: 5px 15px;
}

.ver-crear-comentario .ver-comentario-btn:hover {
    background: #86C332;
    color: #fff;
}

#id_comentario {
    border: 0;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 10px;
    max-height: 50px;
    max-width: 250px;
    resize: none;
}


/*Contenedor principal del lightbox*/

#contenedor-principal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    /*Cambiar a none para ver*/
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
}

.contenedor-interno {
    width: 1200px;
    height: 727px;
    justify-content: center;
    position: flex;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 600px) {
    .contenedor-interno {
        grid-template-columns: 1fr;
        height: 81, 8%;
        width: 100%;
        z-index: 1000;
    }
    .ver-publi_1 img {
        position: relative;
        padding: 0;
        margin: 0;
        background-color: white;
    }
    .ver-publi_1 {
        width: 100%;
        margin: 0;
        overflow: hidden;
        height: 40vh;
    }
    .ver-crear-comentario {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        position: fixed;
        border-top: 1px #ced0d4 solid;
        text-align: center;
        justify-content: center;
        bottom: 0;
        top: 50%;
        transform: translate(-100%, 80%);
        background: #fff;
    }
    .ver-crear-comentario .ver-comentario-btn {
        border: #bfc0c2 solid 2px;
        color: #1a1919;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.9rem;
        margin: 15px 5px;
        padding: 5px 15px;
        width: 90px;
        height: 50px;
    }
    .ver-publi-titulo {
        text-align: center;
        font-size: 25px;
        color: #000;
        border: #ced0d4 solid 1px;
        padding: 10px;
        text-transform: uppercase;
        margin: 0;
    }
}


/*Botones*/

button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #86C332;
}

.lista-info button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #86C332;
}

.button-cierra {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #AB3849;
    font-size: 1.5rem;
    float: right;
    padding: 0 5px;
}

#btn-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    margin: 20px 230px 0px 0px;
    border-radius: 50% #fff;
    height: 30px;
    width: 30px;
}

#btn-retrocede {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 4rem;
    margin-left: 200px;
}

#btn-adelanta {
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 4rem;
    margin-right: 200px;
}


/*   Galeria de fotos  */


/*
#img-activa {
    width: 100%;
    height: auto;
}
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    /*line-height: 1, 6;*/
}

.linea_2 {
    background: #86C332;
    height: 2px;
    width: 100%;
    display: block;
}


/*
#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2px;
    padding: 0 10px;
}

#galeria img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}
*/

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    gap: 15px;
    overflow: hidden;
    padding: 40px 0;
}

#galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
    border-radius: 15px;
}

#galeria>img {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}


/*
#galeria img:hover {
    filter: blur(2px);
    transform: rotate(10deg) scale(1);
}*/

#galeria img:hover {
    animation: pulsate 1s ease-in-out;
    top: -10px;
    filter: blur(px);
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #475f25, 0 0 50px #86C332;
    }
}

.linea {
    background: #12130F;
    height: 5px;
    width: 100%;
    display: block;
}


/*Caja de Calificacion*/


/* calificacion */

.calificacion-principal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
}

.calificacion-interno {
    width: 700px;
    height: 600px;
    border: 5px #f3f3f3 solid;
    padding: 2px;
    display: none;
    justify-content: center;
    position: relative;
    background-color: #f3f3f3;
}

#btn-calif-cierra {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

#calif {
    display: none;
}


/*------*/

.testimonials-background {
    border: 5px #f3f3f3 solid;
    position: relative;
    background-color: #f3f3f3;
    justify-content: center;
    width: 35%;
    height: 100%;
}

#testimonials {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4;
    margin: 0px;
}

.testimonial-heading {
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12130F;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonials-box {
    width: 620px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 20px;
    margin: 1.5px;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.Comentar-Usuarios {
    text-align: center;
    justify-content: center;
    background-color: #12130F;
    overflow: hidden;
    height: 20%;
}

.Comentar-calificacion {
    float: right;
}

.Comentar-calificacion span {
    font-size: 1.3rem;
    color: #fff;
}

.Comentar-Usuarios i {
    color: #86C332;
    margin: 10px 5px 0 0;
    width: 25px;
    height: 25px;
    font-size: 25px;
    padding: 10px 0 0 0;
}

.Comentar-Usuarios input {
    box-shadow: 2px solid #000;
    border-radius: 10px;
    width: 300px;
    padding: 5px 2px;
    margin: 10px 3px 0px 3px;
    font-style: #ffff;
}

.button-comentar button {
    background-color: #86C332;
    width: 120px;
    border-radius: 10px;
    padding: 5px 3px;
    margin: 10px 0px;
    text-decoration: none;
    color: #fff;
}

.Comentar-Usuarios .Comentar-iconos i {
    color: #f9d71c;
    margin: 0 12px 0 0;
    font-size: 20px;
}

.Comentar-Usuarios .Comentar-iconos i:hover {
    color: #f9d71c;
}


/*1 ves*/

.testimonial-box:hover {
    transform: translateY(-10px);
}

@media (max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}


/* adactacion a dispositivos */

@media screen and (max-width:400px) {
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 1000px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }
    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }
    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
    .lista-info .lista-li {
        padding: 0px 5px 0px 10px;
    }
    #btn-retrocede {
        font-size: 4rem;
        left: -40%;
        top: 47%;
    }
    #btn-adelanta {
        font-size: 4rem;
        left: 90%;
        top: 45%;
    }
    #btn-cierra {
        left: 83%;
        position: absolute;
        top: 14%;
        font-size: 2.5rem;
    }
    .testimonials-background {
        border: 5px #f3f3f3 solid;
        position: relative;
        background-color: #f3f3f3;
        justify-content: center;
        width: 80%;
        margin: -100px 0px;
    }
}


/* Isa */


/* .scrol {
    height: 100px;
} */

.scroll-div {
    overflow: hidden;
    overflow-y: scroll;
    height: 455px;
    text-align: center;
}

#id_comentario {
    margin-top: 10px;
}

.d-none {
    display: none;
}

.child-comment {
    /* margin-left: 2rem; */
    padding-right: 0;
}

.contenedor-reviews {
    overflow: hidden;
    overflow-y: scroll;
    height: 60%;
}


/* Hide Radio button */

.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    ;
    border: 0;
}

.rate>label {
    float: right;
}


/* Showing the stars */

.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}


/* Half star */

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}


/* Click and hover */

input:checked~label,
label:hover~label {
    color: #ffb503;
}


/* hover hightlight */

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}