{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/configuracion.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <!--Header-->
    <header>
        <nav class="nav">
            <div class="logo">EscalArt</div>
            <div class="search-box">
                <input type="text" placeholder="Buscando...">
                <a href="##" class="icon">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i></a></li>
                <li>
                    <a href="{% url 'ayudacliente' %}"><i class="fa-solid fa-question"></i></a>
                </li>
                <li onclick="mostrarConfig();"> <a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
            </ul>
        </nav>
        <div id="Configuracion">
            <ul class="Configuracion-menu">

                <li><i class="fa-solid fa-circle-user"></i><a href="{% url 'perfil' %}">Perfil</a></li>
                <li><i class="fa-solid fa-gear"></i><a href="#">Configuracion</a></li>
                <span class="linea_2"></span>
                <li class="Cerrar-Sesion"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
            </ul>
        </div>
    </header>
    <div class="scrol"></div>

    <!--Configuracion-->
    <div class="configuracion">
        <div class="config-left">
            <div class="config-lista">
                <ul>
                    <li>Editar Perfil</li>
                    <li>Cambiar Contraseña</li>
                    <li>Seguridad</li>
                    <li>Privacidad</li>
                    <li>Notificaciones</li>
                    <li>Accesibilidad</li>
                    <li class="li-profesional">Cambiar una cuenta Profesional</li>
                </ul>
            </div>
        </div>
        <div class="config-right">
            <div class="Editar-perfil" style="display: none;">

            </div>
            <div class="Cambiar-pass" style="display: none;">

            </div>
            <div class="seguridad" style="display: none;">
                <div class="title-s">
                    <h1>Seguridad</h1>
                    <p>Aqui podras administrar la seguridad de tu cuenta.</p>
                </div>
                <div class="title-s">
                    <h1>Autenticación en dos fases</h1>
                    <p>Ayuda a proteger tu cuenta contra el acceso no autorizado utilizando un segundo método de autenticacion, además de tu contraseña. Puedes elefir entre un mensaje de texto, una app de autenticacion o una llave de seguridad.
                    </p>
                    <div class="seguridad-btn">
                        <button class="btn-seguridad"><a href="#"></a>Autenticacion en dos fases</button>
                    </div>
                </div>
                <div class="title-s">
                    <h1>Proteccion con contraseña adicional</h1>
                    <p>Activar esta configuracion aumenta la seguridad de tu cuenta, ya que se solicitara información adicional para restablecer tu contraseña. Si la activas, debes proporcionar el numero de telefono o la direccion de correo electrónico asociada
                        a tu cuenta para pode restablecer tu contraseña.</p>
                    <div class="seguridad-btn">
                        <button class="btn-seguridad"><a href="#"></a>Proteccíon de restablecimiento de la contraseña</button>
                    </div>
                </div>
            </div>
            <div class="privacidad" style="display: none;">
                <div class="priv-s">
                    <ul>
                        <li>
                            <i class="fa-solid fa-volume-xmark"></i>
                            <h1>Silenciar y bloquear</h1>
                            <span>></span>
                            <p>Administra las cuentas, palabras y notificaciones que silenciaste o bloqueaste.</p>

                        </li>
                        <li>
                            <i class="fa-solid fa-square-envelope"></i>
                            <h1>Mensajes Directos</h1>
                            <span>></span>
                            <p>Administra quiénes pueden enviarte Mensajes Directamente.
                            </p>
                        </li>
                        <li>
                            <i class="fa-solid fa-book-open"></i>
                            <h1>Contenido que ves</h1>
                            <span>></span>
                            <p>Decid qué ver en función de los temas e intereses de tu preferencia</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Notificaciones">
                <div class="title-n">
                    <div class="botom">
                        <input type="checkbox" id="btn-switch"></input>
                        <label for="btn-switch" class="lbl-switch"></label>
                    </div>
                    <h1>Notificaciones de correo electronico</h1>
                    <p>Recibe correos electrónicos para enterarte de lo que está pasando cuando no estás conectado. Puedes Activarlos y desactivarlos cuando quieras.</p>
                </div>
                <div class="title-n_2">
                    <h1>En Relacion contigo</h1>
                    <ul>
                        <li>
                            <span>Notificaciones nuevas</span>
                            <input type="checkbox"></input>
                        </li>
                        <li>
                            <span>Mensajes directos</span>
                            <input type="checkbox"></input>
                        </li>
                        <li>
                            <span>Actualizaciones del Estado de tus comisiones</span>
                            <input type="checkbox"></input>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accesibilidad" style="display: none;">
                <div class="priv-a">
                    <ul>
                        <li>
                            <i class="fa-solid fa-eye-slash"></i>
                            <h1>Accesibilidad</h1>
                            <span>></span>
                            <p>Administra diversos aspectos de tu experiencia, como limitar el contraste de colores y el movimiento.</p>

                        </li>
                        <li>
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                            <h1>Apariencia</h1>
                            <span>></span>
                            <p>Administra el fondo, color y tamaño de la fuente
                            </p>
                        </li>
                        <li>
                            <i class="fa-solid fa-earth-americas"></i>
                            <h1>Idioma</h1>
                            <span>></span>
                            <p>Administra qué idiomas se usan para personalizar tu experiencia en la pagina</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





    <!--Pie de la pagina-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'EscalArt/img/logo.jpg' %}" alt="Logo EscalArt">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>¿Quienes Somos?</h2>
                <p>Somos un sistema web que tiene como funcionalidad facilitar la comunicacion y comercializacion del trabajo.</p>
                <p>de los artistas que quieran emprender en nuestro sitio web</p>
            </div>
            <div class="box">
                <h2>SIGUENOS...</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 EscalArt <b>Equipo EscalArt</b> - Politica de privacidad - Terminos de Servicios</small>
        </div>
    </footer>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>