{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'EscalArt/img/favicon.ico' %}" />

    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Perfil.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/datosCliente.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">


</head>

<body>
    <!--Header-->
    {% include 'escalArt/includes/menu.html' %}

    <div class="scrol"></div>
    <!--<script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>-->
    <!--Diseño Perfi-->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">

                {% if perfil.img_header %}

                <img class="perfil-usuario-portada_2" src="/{{perfil.img_header}}" alt=""> {%else%}

                <img class="perfil-usuario-portada_2" src="{% static 'EscalArt/img/banner.jpg' %}" alt=""> {%endif%}
                <div class="perfil-usuario-avatar">
                    {% if userInfo.imagen %}

                    <img src="/{{userInfo.imagen}}" alt=""> {%else%}

                    <img src="{% static 'EscalArt/img/perfil.jpg' %}" alt=""> {%endif%}

                </div>

            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">{{userInfo.username}}</h3>
                <span class="linea_2"></span>
            </div>
        </div>
    </section>
    <span class="linea"></span>
    <div class="cliente-opt">
        <ul>
            <li onclick="mostrarReferencias();"><i class="fa-solid fa-border-all"></i>Referencias</li>
            <li onclick="mostrarEsComision();"><i class="fa-solid fa-calendar-check"></i>Estado Comision</li>
            <li onclick="mostrarTareas();"><i class="fa-solid fa-pen-to-square"></i>Tareas</li>
            <li onclick="mostrarReviews();"><i style="color:#86C332;" class="fa-regular fa-star-half-stroke"></i>Reviews</li>
        </ul>
    </div>
    <!--Referencias-->
    <section class="galeria_guardados" id="gl-referencias" style="display: none;">
        <section id="galeria">

            {% for ref in referencias %} {% if ref.idUser.idUser == userInfo.idUser and user.username == ref.usernameArtista %}

            <img src="/{{ref.img_referencia}}" alt="Galeria de imagenes"> {%endif%} {%endfor%} {% comment %} <img src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_2.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_3.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_4.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_5.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_6.jpg' %}" alt="Galeria de imagenes"> {% endcomment %}
        </section>
        <section id="contenedor-principal">
            <div class="contenedor-interno">
                <img id="img-activa" src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
                <button id="btn-cierra" type="button" class="button-cierra">X</button>
                <button id="btn-retrocede" type="button">&lt;</button>
                <button id="btn-adelanta" type="button">&gt;</button>
            </div>
        </section>
    </section>
    <!--Creacion de Tareas-->
    <div id="tareas--" style="display: none;">
        <div id="crear-tarea" class="list roundBorder">
            <div class="title-tarea">
                <h1>Crear Tarea</h1>
            </div>
            <div class="date">
                <div class="dateRight">
                    <ul>
                        <li>
                            <div id="dateNumber"></div>
                        </li>
                        <li>
                            <div id="dateMonth"></div>
                        </li>
                        <li>
                            <div id="dateYear"></div>
                        </li>
                    </ul>
                </div>
                <div id="dateText"></div>
            </div>
            <form onsubmit="addNewTask(event)">
                <input type="text" name="taskText" autocomplete="off" placeholder="Nueva tarea" class="roundBorder">
                <button type="submit" class="addTaskButton">+</button>
                <button type="button" class="orderButton roundBorder" onclick="renderOrderedTasks()">Ordenar</button>
            </form>
        </div>
        <!--Mostrar la tarea-->
        <div class="fondo-mostrar-tarea">
            <div class="btn-mostrar-tarea">
                <h1>Tareas Asignadas</h1>
                <!-- <button onclick="ver_tareas();">Crear una tarea</button> -->
            </div>
            <div class="scroll-bg">
                <div class="scroll-div">
                    <div class="scroll-object">
                        <div id="tasksContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Estado Comision-->
    <div class="estado-comision" id="es-comision" style="display: block;">

        <div class="left">
            <div class="titulo-art">
                <h1>Comisiones en curso</h1>
            </div>
            {% for cc in comCli %}
            <!--  -->
            {% if cc.idComision.idArtista == user %}
            <div class="estado-comision-lista">
                <ul>
                    <li><a href="{% url 'estadoComisionArt' userInfo.username cc.idComision.idComision %}">Comision {{cc.idComision.idComision}}</a></li>

                </ul>
            </div>


            {% endif %} {%empty%}
            <div class="titulo-art">
                <h1>No tienes comisiones en curso</h1>
            </div>
            <!--  -->
            {% endfor %}

        </div>
        <div class="right">
            {%block content%}
            <div class="comisiones" hidden>
                <ul>
                    <li class="li-left"><i class="fa-solid fa-box-archive"></i>
                        <span class="span-left span-dis"></span>
                        <p>Tu Comision ha sido recibida</p>
                        <input type="checkbox"></input>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-spinner"></i>
                        <span class="span-centro span-dis"></span>
                        <p>Tu comision está en desarrollo</p>
                        <span class="span-centro_2"></span>
                        <input type="checkbox"></input>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-paper-plane"></i>
                        <span class="span-right span-dis"></span>
                        <p> ¡Tu comisión ya esta lista! </p>
                        <input type="checkbox"></input>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </div>
    <!-- Reviews clientes -->
    <div id="reviews" style="display: none;">
        <!--Mostrar la tarea-->
        <div class="fondo-mostrar-tarea">
            <div class="btn-mostrar-tarea">
                <h1>Reviews</h1>
                <!-- <button onclick="ver_tareas();">Crear una tarea</button> -->
            </div>
            <div class="scroll-bg">
                <div class="scroll-div">
                    <div class="scroll-object">
                        <div id="tasksContainer">
                            {% for review in reviews %}
                            <div class="testimonial-box-container">
                                <div class="testimonials-box">
                                    <div class="box-top">
                                        <div class="profile">
                                            <div class="profile-img">

                                                {% if review.idUser.imagen %}
                                                <img src="/{{review.idUser.imagen}}" alt=""> {% else %}
                                                <img src="{% static 'EscalArt/img/perfil.jpg' %}" alt=""> {% endif %}

                                            </div>
                                            <div class="name-user">
                                                <strong>{{review.idUser.nombre}}</strong>
                                                <span>@{{review.idUser.username}}</span>
                                            </div>
                                        </div>
                                        <div class="reviews">
                                            <i class="fa fa-star{% if review.rating == 1 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 3 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 5 %}-half-o{% elif review.rating < 6 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 7 %}-half-o{% elif review.rating < 8 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 9 %}-half-o{% elif review.rating < 10 %}-o {% endif %}" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="client-comment">
                                        <p>{{review.review}}</p>
                                    </div>
                                </div>
                            </div>
                            {%empty%}
                            <h1 class="empty-saves">Aun no hay reviews. Se el primero!</h1>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="crear-tarea" class="list roundBorder">
            <div class="title-tarea">
                <h1>Danos tu opinion</h1>
            </div>

            <form class="Comentar-Usuarios" style="display: block;" method="POST">
                {%csrf_token %}
                <div class="Comentar-calificacion">
                    <span style="margin-right: 10px;">Calificar</span><br>
                    <div class="Comentar-iconos rate" style="background-color: white;">

                        <input type="radio" name="rating" id="rating10" value="10" required /><label for="rating10" title="10"></label>
                        <input type="radio" name="rating" id="rating9" value="9" required /><label for="rating9" title="9" class="half"></label>
                        <input type="radio" name="rating" id="rating8" value="8" required /><label for="rating8" title="8"></label>
                        <input type="radio" name="rating" id="rating7" value="7" required /><label for="rating7" title="7" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="6" required /><label for="rating6" title="6"></label>
                        <input type="radio" name="rating" id="rating5" value="5" required /><label for="rating5" title="5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4" title="4"></label>
                        <input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3" title="3" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2" title="2"></label>
                        <input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1" title="1" class="half"></label>


                    </div>
                </div>
                <i class="fa-solid fa-face-smile"></i>
                <input hidden="hidden" name="calificacion" value="{{calificacion}}">
                <input name="review" type="text" placeholder="Escriba su comentario...">
                <button style="margin-left: 170px;" name="enviarReview" type="submit">Comentar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'EscalArt/js/datosCliente.js' %}"></script>
    <script src="{% static 'EscalArt/js/Galeria.js' %}"></script>
    <!--Pie de la pagina-->
    {% include 'escalArt/includes/footer.html' %}

    <!-- menu  -->
    <script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>