{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/datosCliente.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">


</head>

<body>
    <!--Header-->
    {% include 'escalArt/includes/menu.html' %}

    <div class="scrol"></div>
    <!--<script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>-->
    <!--Diseño Perfi-->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">

                {% if perfil.img_header %}

                <img src="/{{perfil.img_header}}" alt=""> {%else%}

                <img class="perfil-usuario-portada_2" src="{% static 'EscalArt/img/banner.jpg' %}" alt=""> {%endif%}
                <div class="perfil-usuario-avatar">
                    {% if userInfo.imagen %}

                    <img src="/{{userInfo.imagen}}" alt=""> {%else%}

                    <img src="{% static 'EscalArt/img/perfil.jpg' %}" alt=""> {%endif%}

                </div>

            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">{{userInfo.username}}</h3>
                <span class="linea_2"></span>
            </div>
        </div>
    </section>
    <span class="linea"></span>
    <div class="cliente-opt">
        <ul>
            <li onclick="mostrarReferencias();"><i class="fa-solid fa-border-all"></i>Referencias</li>
            <li onclick="mostrarTareas();"><i class="fa-solid fa-pen-to-square"></i>Tareas</li>
            <li onclick="mostrarEsComision();"><i class="fa-solid fa-calendar-check"></i>Estado Comision</li>
        </ul>
    </div>
    <!--Referencias-->
    <section class="galeria_guardados" id="gl-referencias" style="display: none;">
        <section id="galeria">

            {% for ref in referencias %} {% if ref.idUser.idUser == userInfo.idUser and user.username == ref.usernameArtista %}

            <img src="/{{ref.img_referencia}}" alt="Galeria de imagenes"> {%endif%} {%endfor%} {% comment %} <img src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_2.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_3.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_4.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_5.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_6.jpg' %}" alt="Galeria de imagenes"> {% endcomment %}
        </section>
        <section id="contenedor-principal">
            <div class="contenedor-interno">
                <img id="img-activa" src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
                <button id="btn-cierra" type="button" class="button-cierra">X</button>
                <button id="btn-retrocede" type="button">&lt;</button>
                <button id="btn-adelanta" type="button">&gt;</button>
            </div>
        </section>
    </section>
    <!--Creacion de Tareas-->
    <div id="tareas--">
        <div id="crear-tarea" class="list roundBorder">
            <div class="title-tarea">
                <h1>Crear Tarea</h1>
            </div>
            <div class="date">
                <div class="dateRight">
                    <ul>
                        <li>
                            <div id="dateNumber"></div>
                        </li>
                        <li>
                            <div id="dateMonth"></div>
                        </li>
                        <li>
                            <div id="dateYear"></div>
                        </li>
                    </ul>
                </div>
                <div id="dateText"></div>
            </div>
            <form onsubmit="addNewTask(event)">
                <input type="text" name="taskText" autocomplete="off" placeholder="Nueva tarea" class="roundBorder">
                <button type="submit" class="addTaskButton">+</button>
                <button type="button" class="orderButton roundBorder" onclick="renderOrderedTasks()">Ordenar</button>
            </form>
        </div>
        <!--Mostrar la tarea-->
        <div class="fondo-mostrar-tarea">
            <div class="btn-mostrar-tarea">
                <h1>Tareas Asignadas</h1>
                <!-- <button onclick="ver_tareas();">Crear una tarea</button> -->
            </div>
            <div class="scroll-bg">
                <div class="scroll-div">
                    <div class="scroll-object">
                        <div id="tasksContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Estado Comision-->
    <div class="estado-comision" id="es-comision" style="display: none;">

        <div class="left">
            <div class="titulo-art">
                <h1>Comisiones en curso</h1>
            </div>
            {% for cc in comCli %}
            <!--  -->
            {% if cc.idComision.idArtista == user %}
            <div class="estado-comision-lista">
                <ul>
                    <li><a href="{% url 'estadoComisionArt' userInfo.username cc.idComision.idComision %}">Comision {{cc.idComision.idComision}}</a></li>

                </ul>
            </div>


            {% endif %} {%empty%}
            <div class="titulo-art">
                <h1>No tienes comisiones en curso</h1>
            </div>
            <!--  -->
            {% endfor %}

        </div>
        <div class="right">
            {%block content%}
            <div class="comisiones" hidden>
                <ul>
                    <li class="li-left"><i class="fa-solid fa-box-archive"></i>
                        <span class="span-left span-dis"></span>
                        <p>Tu Comision ha sido recibida</p>
                        <input type="checkbox"></input>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-spinner"></i>
                        <span class="span-centro span-dis"></span>
                        <p>Tu comision está en desarrollo</p>
                        <span class="span-centro_2"></span>
                        <input type="checkbox"></input>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-paper-plane"></i>
                        <span class="span-right span-dis"></span>
                        <p> ¡Tu comisión ya esta lista! </p>
                        <input type="checkbox"></input>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'EscalArt/js/datosCliente.js' %}"></script>
    <script src="{% static 'EscalArt/js/Galeria.js' %}"></script>
    <!--Pie de la pagina-->
    {% include 'escalArt/includes/footer.html' %}

    <!-- menu  -->
    <script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>