{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Ayuda-Cliente.css' %}">
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <header>
        <nav class="nav">
            <div class="logo">EscalArt</div>
            <div class="search-box">
                <input type="text" placeholder="Buscando...">
                <a href="##" class="icon">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-question"></i></a></li>
                <li><a href="{% url 'perfil' %}"><i class="fa-solid fa-circle-user"></i></a></li>
            </ul>
        </nav>
    </header>
    <a href="{% url 'perfil' %}">Perfil Artista</a>
    <a href="{% url 'perfil' %}">Ayuda Cliente</a>
    <h1>Hola Mundo</h1>

    {% if user.is_authenticated %}
    <h1>Username: {{user.username}}</h1>
    <h1>Tipo Usuario: {{user.tipoCuenta.tipoCuenta}}</h1>

    {% if user.tipoCuenta.tipoCuenta == "artista" %}
    <h1>hola solo los artistas podemos ver esto :)</h1>
    <form method="POST" action="" enctype='multipart/form-data'>

        {% csrf_token %} Titulo: {{ form.titulo }} <br> Descripcion: {{form.descripcion}} <br> Imagen: {{form.imagen}}
        <br> {{form.cantLikes.as_hidden}}
        <input type="submit" name="publicar" class="btn btn-danger" value="Enviar">

        <input type="reset" class="btn btn-primary" value="Limpiar">

        <!-- <div id="error" class="alert alert-success" role="alert">

            {{ mensaje }}

        </div> -->

    </form>
    <br>
    <hr style="width: 100%;"> {% for perfil in perfil %} {% if user == perfil.idUser %}
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %} {{edit}}
        <input type="submit" name="editar" class="btn btn-danger" value="Enviar" method="editar">

        <input type="reset" class="btn btn-primary" value="Limpiar">

    </form>


    <h3>{{perfil.biografia}}</h3>
    <img src="{{ perfil.img_header }}"> <br> {% endif %} {% endfor %} {% for p in posts %} {% if user == p.idUser %}
    <h2>{{p.titulo}}</h2>
    <h3>{{p.descripcion}}</h3>
    <img src="{{ p.imagen }}"><br>{% endif %} {% endfor %} {% endif %}

    <a href="{% url 'logout' %}">Cerrar sesion</a> {% else %}
    <a href="{% url 'login' %}">Inicia sesion</a> |
    <a href="{% url 'registro' %}">Registrate</a> {% endif %}

</body>

</html>