{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/perfil_cliente.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--Iconos-->
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <!--Header-->
    <header>
        <nav class="nav">
            <div class="logo">EscalArt</div>
            <div class="search-box">
                <input type="text" placeholder="Buscando...">
                <a href="##" class="icon">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i></a></li>
                <li>
                    <a href="{% url 'ayudacliente' %}"><i class="fa-solid fa-question"></i></a>
                </li>
                <li onclick="mostrarConfig();"> <a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
            </ul>
        </nav>
        <div id="Configuracion">
            <ul class="Configuracion-menu">

                <li><i class="fa-solid fa-circle-user"></i><a href="{% url 'perfil' %}">Perfil</a></li>
                <li><i class="fa-solid fa-gear"></i><a href="#">Configuracion</a></li>
                <span class="linea_2"></span>
                <li class="Cerrar-Sesion"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
            </ul>
        </div>
    </header>
    <div class="scrol"></div>
    <!--<script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>-->
    <!--Diseño Perfi-->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <img class="perfil-usuario-portada_2" src="{% static 'EscalArt/img/banner.jpg' %}" alt="">
                <div class="perfil-usuario-avatar">
                    <img src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <button type="button" class="boton-portada">
                    <i class="far fa-image"></i> Cambiar fondo
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Nombre Cliente</h3>
                <span class="linea_2"></span>
            </div>
        </div>
    </section>
    <span class="linea"></span>
    <div class="cliente-opt">
        <ul>
            <li onclick="mostrarGuardados();"><i class="fa-solid fa-bookmark"></i>Guardados</li>
            <li onclick="mostrarComisiones();"><i class="fa-solid fa-calendar-check"></i>Estado de Comisiones</li>
            <li onclick="mostrarComisiones();"><i class="fa-solid fa-calendar-check"></i>Tareas</li>
        </ul>
    </div>
    <!--Galeria de fotos-->
    <section class="galeria_guardados" id="gl-guardados" style="display: none;">
        <section id="galeria">
            <img src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_2.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_3.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_4.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_5.jpg' %}" alt="Galeria de imagenes">
            <img src="{% static 'EscalArt/img/foto_6.jpg' %}" alt="Galeria de imagenes">
        </section>
        <section id="contenedor-principal">
            <div class="contenedor-interno">
                <img id="img-activa" src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes">
                <button id="btn-cierra" type="button" class="button-cierra">X</button>
                <button id="btn-retrocede" type="button">&lt;</button>
                <button id="btn-adelanta" type="button">&gt;</button>
            </div>
        </section>
    </section>
    <!--Estado Comision-->
    <div class="estado-comision" id="es-comision" style="display: none;">
        <div class="left">
            <div class="titulo-art">
                <h1>Tus Comisiones</h1>
            </div>
            <div class="estado-comision-lista">
                <ul>
                    <li><img class="estado_comision-img" src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">[Nombre Artista]</li>
                    <li><img class="estado_comision-img" src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">[Nombre Artista]</li>
                    <li><img class="estado_comision-img" src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">[Nombre Artista]</li>
                    <li><img class="estado_comision-img" src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">[Nombre Artista]</li>
                    <li><img class="estado_comision-img" src="{% static 'EscalArt/img/perfil.jpg' %}" alt="">[Nombre Artista]</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="titulo-art">
                <h1>[Nombre Artista]</h1>
            </div>
            <div class="comisiones">
                <ul>
                    <li class="li-left"><i class="fa-solid fa-box-archive"></i>
                        <span class="span-left span-dis"></span>
                        <p>Tu Comision ha sido recibida</p>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-spinner"></i>
                        <span class="span-centro span-dis"></span>
                        <p>Tu comision está en desarrollo</p>
                        <span class="span-centro_2"></span>
                    </li>
                    <li class="li-left"><i class="fa-solid fa-paper-plane"></i>
                        <span class="span-right span-dis"></span>
                        <p> ¡Tu comisión ya esta lista! </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Creacion de Tareas-->
    <div class="Crear-Tareas">

    </div>
    <script src="{% static 'EscalArt/js/perfil_cliente.js' %}"></script>
    <script src="{% static 'EscalArt/js/Galeria.js' %}"></script>
    <!--Pie de la pagina-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'EscalArt/img/logo.jpg' %}" alt="Logo EscalArt">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>¿Quienes Somos?</h2>
                <p>Somos un sistema web que tiene como funcionalidad facilitar la comunicacion y comercializacion del trabajo.</p>
                <p>de los artistas que quieran emprender en nuestro sitio web</p>
            </div>
            <div class="box">
                <h2>SIGUENOS...</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 EscalArt <b>Equipo EscalArt</b> - Politica de privacidad - Terminos de Servicios</small>
        </div>
    </footer>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>