{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Artista</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/perfil.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="text/css" rel="stylesheet" href="{% static 'EscalArt/css/publicacion.css' %} ">

</head>

<body>
    {% include 'escalArt/includes/menu.html' %}

    <div class="scrol"></div>
    <script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>

    <!--Diseño Perfi-->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <!-- 5 Inicio de for para mostrar los datos en perfil segun el usuario conectado -->
                {% for perfil in perfil %}
                <!-- 6 inicio if para identificar perfil segun user -->
                {% if list.idUser == perfil.idUser.idUser %}

                <!-- header -->

                {% if perfil.img_header %}<img class="perfil-usuario-portada_2" src="/{{ perfil.img_header }}"> {% else %}
                <img class="perfil-usuario-portada_2" src="{% static 'EscalArt/img/banner.jpg' %}" alt=""> {% endif %}


                <!-- 6 FIN if para identificar perfil segun user -->
                {% endif %}
                <!-- 5 FIN ciclo for que lista los perfiles -->
                {% endfor %}
                <div class="perfil-usuario-avatar">

                    {% for la in listArt %}
                    <!-- 16 Inicio if para verificar user conectado -->
                    {% if list.username == la.username %} {% if la.imagen %}
                    <img src="/{{la.imagen}}" class="foto_perfil" alt=""> {% else %}
                    <img src="{% static 'EscalArt/img/perfil.jpg' %}" class="foto_perfil" alt=""> {% endif %}


                    <!-- 16 Fin if para verificar user conectado -->
                    {% endif %}
                    <!-- 15 Fin for para cambiar foto perfil -->
                    {% endfor %} {% if list.idUser == user.idUser %}

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %} {{foto.as_hidden}} <input type="file" id="real-file2" name="pfp" hidden="hidden">
                        <button type="button" class="boton-avatar" id="custom-button2" onclick="MostrarAlerta();">
                            <i class="far fa-image"></i>
                        </button>
                    </form>
                    {%endif%}
                </div>
                {% if list.idUser == user.idUser %}
                <form action="" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %} {{edit.img_header.as_hidden}}
                    <input type="file" id="real-file3" name="header" hidden="hidden">
                    <button type="button" class="boton-portada" id="custom-button3" onclick="MostrarAlerta2();">
                        <i class="far fa-image"></i> Cambiar fondo
                    </button>


                </form>
                {%endif%}
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                {% if list.username == user.username %}
                <button onclick="MostrarPublicacion();" class="btn-Crear-Publicacion"><i class="fa-solid fa-paint-roller"></i>Crear Publicacion</button> {%endif%}
                <h3 class="titulo">{{list.username}}</h3>
                {% if list.username == user.username %}

                <button onclick="MostrarConfi_bio();" class="btn-Editar-Bio"><i class="fa-solid fa-user-pen"></i>Editar Biografia</button> {%endif%}
                <div class="texto-bio">
                    <!-- 5 Inicio de for para mostrar los datos en perfil segun el usuario conectado -->
                    {% for perfil in perfil %}
                    <!-- 6 inicio if para identificar perfil segun user -->
                    {% if list.idUser == perfil.idUser.idUser %}

                    <!-- biografia y header -->
                    <p class="texto">{{perfil.biografia}}</p>
                    <!-- 6 FIN if para identificar perfil segun user -->
                    {% endif %}
                    <!-- 5 FIN ciclo for que lista los perfiles -->
                    {% endfor %}

                </div>
                <span class="linea_2"></span>
                <ul class="lista-info">
                    <!-- 5 Inicio de for para mostrar los datos en perfil segun el usuario conectado -->
                    {% for perfil in perfil %}
                    <!-- 6 inicio if para identificar perfil segun user -->


                    {% if list.idUser == perfil.idUser.idUser %}
                    <li class="lista-li">0 Siguiendo</li>
                    <li class="lista-li">{{perfil.seguidores.all.count}} Seguidores</li>
                    <button id="Boton" onclick="mostrar();"><li  class="lista-li" >{{perfil.calificacion}}</li></button>
                    <!-- 6 FIN if para identificar perfil segun user -->
                    {% endif %}



                    <!-- 5 FIN ciclo for que lista los perfiles -->
                    {% endfor %}

                </ul>
            </div>
        </div>
    </section>
    <!--Configurar Biografia-->

    <section id="config-fondo">
        <div class="config-fondo-bio">
            <button type="button" class="button-cierra" onclick="OcultarConfi_bio();">X</button>
            <div class="config-bio-top">
                <h1>Configurar Biografia</h1>
            </div>
            <div class="config-bio-centro">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {% for la in listArt %}
                    <!-- 16 Inicio if para verificar user conectado -->
                    {% if user.username == la.username %} {% if la.imagen %}
                    <input type="file" id="real-file" name="pfp" hidden="hidden">
                    <button type="button" id="custom-button"><img src="/{{la.imagen}}" class="foto_perfil" alt=""></button> {% else %}
                    <input type="file" id="real-file" name="pfp" hidden="hidden">
                    <button type="button" id="custom-button"><img src="{% static 'EscalArt/img/perfil.jpg' %}" alt=""></button> {% endif %}

                    <!-- formulario para editar foto de perfil -->

                    <!-- 16 Fin if para verificar user conectado -->
                    {% endif %}
                    <!-- 15 Fin for para cambiar foto perfil -->
                    {% endfor %} {{form.as_hidden}}


                    <input class="bio-centro" type="submit" name="fotoPerfil" value="Editar Foto"><br><br><br>
                    <div class="form-group">

                        <label>Biografia: </label> {{edit.biografia}}
                    </div>
                    <div class="bio-bottom">
                        <input type="submit" name="editar" value="Enviar">
                        <input type="reset" value="Limpiar">
                    </div>
                </form>
            </div>
        </div>
    </section>



    <!--Galeria de fotos-->
    <span class="linea"></span>

    <main>

        <!--  -->


        <section id="galeria">
            {% for p in posts %} {% if list.idUser == p.idUser.idUser %}

            <a href="#" name="idPost" id="idPost"><img src="/{{ p.imagen }}" alt="Galeria de imagenes" onclick="AbrirPubli();"></a> {% endif %} {% endfor %}



        </section>

        <!--Ver Publicacion-->

        <div id="contenedor-principal" style="display: flex;">

            <div class="contenedor-interno">
                <div class="ver-publi_1">

                    <h2 class="ver-publi-titulo"> {{publi.titulo}} </h2>

                    <!-- <img id="img-activa" src="{% static 'EscalArt/img/foto_1.jpg' %}" alt="Galeria de imagenes"> -->
                    <img src="/{{publi.imagen}}" alt="Galeria de imagenes">


                </div>
                <div class="ver-publi_2">
                    <a href="{% url 'perfil' list.username %}"><button type="button" class="button-cierra" >X</button></a>
                    <div class="ver-publi-superior">
                        {% for la in listArt %}
                        <!-- 16 Inicio if para verificar user conectado -->
                        {% if list.username == la.username %}{% if la.imagen %}
                        <img src="/{{la.imagen}}" class="foto_perfil" alt=""> {% else %}
                        <img src="{% static 'EscalArt/img/perfil.jpg' %}" class="foto_perfil" alt=""> {% endif %} {%endif%} {%endfor%}

                        <a href="{% url 'perfil' list.username %}">
                            <h1>{{list.username}}</h1>
                        </a>
                        <p>{{publi.descripcion}} <br>{% for tag in publi.tags.all %}
                            <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a> {% endfor %}
                        </p>

                        <span></span>
                        <div class="ver-publi-lista">
                            <ul>
                                <li style="padding-right:0px;">
                                    {% if user.is_authenticated %}
                                    <form class="post-likes column" method="post" action="{% url 'like' publi.idPublicacion %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{request.path}}">
                                        <button style="background-color:transparent; border:none;box-shadow:none;" type="submit"><i class="fa-solid fa-heart corazon">{{publi.cantLikes.all.count}} </i></button>

                                    </form>
                                    {% comment %} <span class="post-likes column"></span> {% endcomment %} {%else%}
                                    <form class="post-likes column">
                                        <span style="background-color:transparent" class="post-likes column">
                                            <i class="fa-solid fa-heart corazon">
                                                {{publi.cantLikes.all.count}}
                                            </i>
                                        </span>
                                    </form>

                                    {%endif%}
                                </li>
                                <li><i class="fa-solid fa-comment-dots comentar"></i>Comentar</li>
                                <li><i class="fa-solid fa-share compartir"></i>Compartir</li>
                                <li><button onclick="MostrarOpciones();"><i class="fa-solid fa-ellipsis post-settings"></i></button></li>
                            </ul>
                        </div>
                        <div id="settings-post">
                            <ul class="Configuracion-post">
                                <li>

                                    {% if user.is_authenticated %}
                                    <form action="" method="POST">
                                        {% csrf_token %} {{guardarPost.as_hidden}}
                                        <input hidden="hidden" type="text" value="{{publi.idPublicacion}}" name="idPost"> {% if guardado%}
                                        <button method="submit" id="eliminar1" name="eliminarPostGuardado"><i class="fa-solid fa-bookmark" ></i></input>Eliminar de guardados</button> {%else%}

                                        <button method="submit" id="guardar1" name="guardarPost"><i class="fa-solid fa-bookmark" ></i></input>Guardar</button> {%endif%}
                                    </form>
                                    {% else %}
                                    <form action="" method="">
                                        {% csrf_token %} {{guardarPost.as_hidden}}
                                        <input hidden="hidden" type="text" value="{{publi.idPublicacion}}" name="idPost"> {% if guardado%}
                                        <button method="" id="eliminar1" name="eliminarPostGuardado"><i class="fa-solid fa-bookmark" ></i></input>Eliminar de guardados</button> {%else%}

                                        <button method="" id="guardar1" name="guardarPost"><i class="fa-solid fa-bookmark" ></i></input>Guardar</button> {%endif%}
                                    </form>
                                    {% endif %}


                                </li>
                                <li><button><i class="fa-solid fa-flag"></i>Reportar</button></li>
                                {% if publi.idUser == user %}
                                <li><a href="{%url 'delete_publicacion' publi.idPublicacion %}"><button><i class="fa-solid fa-trash-can"></i>Eliminar</button></a></li>
                                {%endif%}
                                <span class="linea_2"></span>
                            </ul>
                        </div>
                        <span></span>
                    </div>
                    <div class="ver-comentarios">
                        <div class="ver-boxcontainer">
                            <div class="scroll-div" style="width: inherit;">
                                {% for c in comentarios %}
                                <div class="ver-testimonials-box scroll-object" style="width: inherit;">
                                    <div class="ver-box-top">
                                        <div class="ver-profile">
                                            <div class="ver-profile-img">
                                                {% if c.idUser.imagen %}
                                                <img src="/{{c.idUser.imagen}}" class="foto_perfil" alt="">
                                                <!--  -->
                                                {% else %}
                                                <img src="{% static 'EscalArt/img/perfil.jpg' %}" class="foto_perfil" alt="">
                                                <!--  -->
                                                {% endif %}
                                            </div>
                                            <div class="ver-name-user">
                                                <strong>{{c.idUser.nombre}}</strong>
                                                <span>@{{c.idUser.username}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ver-client-comment">
                                        <p>{{c.comentario}}</p>
                                        {% if user.is_authenticated %}
                                        <form method="post" action="{% url 'likeComment' c.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{request.path}}">
                                            <button style="background-color:transparent; border:none;box-shadow:none;" type="submit"><i class="fa-solid fa-heart ">{{c.cantLikes.all.count}} </i></button>

                                        </form>
                                        {%else%}
                                        <form>
                                            <span style="background-color:transparent" class="post-likes column">
                                        <i class="fa-solid fa-heart">
                                            {{c.cantLikes.all.count}}
                                        </i>
                                    </span>
                                        </form>

                                        {%endif%}
                                    </div>
                                    <div class="ver-client-responder">
                                        <ul>
                                            <li class="ver-li">{{c.fechaCreacion}}</li>
                                            <!-- <li class="ver-li-2">Min</li> -->
                                            <li class="ver-li-3"><input type="submit" value="Responder"></li>
                                        </ul>
                                    </div>
                                </div>
                                {%empty%}
                                <p>Aun no hay comentarios</p>
                                {% endfor %}
                            </div>


                            <div>

                                {% if user.is_authenticated %}
                                <form action="" method="POST" class="ver-crear-comentario">
                                    <i class="fa-solid fa-face-grin"></i> {% csrf_token %} {{commentForm | crispy}}
                                    <!-- <input class="ver-comentario-añadir" type="text" placeholder="Añade un Comentario..."> -->
                                    <input class="ver-comentario-btn" type="submit" value="Enviar" name="comentar">
                                </form>
                                {% else %}
                                <form action="" method="" class="ver-crear-comentario">
                                    <i class="fa-solid fa-face-grin"></i> {% csrf_token %} {{commentForm | crispy}}
                                    <!-- <input class="ver-comentario-añadir" type="text" placeholder="Añade un Comentario..."> -->
                                    <input class="ver-comentario-btn" type="submit" value="Enviar" name="comentar">
                                </form>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--  -->
    </main>


    <script src="{% static 'EscalArt/js/Galeria.js' %}"></script>
    {% include 'escalArt/includes/footer.html' %}



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- scrip publicacion -->
<script src="{% static 'EscalArt/js/publicacion.js' %}"></script>

</html>

<style>
    .column {
        float: left;
    }
    
    #settings-post {
        position: absolute;
        width: 210px;
        height: 216px;
        background-color: rgba(255, 255, 255, 0.779);
        z-index: 40;
        display: none;
        border-radius: 20px;
        right: 125px;
        box-shadow: 2px solid #000;
        border: 1px solid #86C332;
    }
    
    .Configuracion-post {
        margin: 10px;
        list-style: none;
    }
    
    #settings-post .Configuracion-post li i {
        font-size: 45px;
        padding: 10px;
    }
    
    #settings-post .Configuracion-post li a {
        text-decoration: none;
    }
    
    #settings-post .Configuracion-post span {
        height: 2px;
        width: 100%;
        color: #659523;
    }
    
    .settings-container {
        position: relative;
        margin: 0px 100px 80px 0px;
    }
    
    .post-settings {
        font-size: 25px;
    }
</style>