{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'EscalArt/css/sobre_nosotros.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/943e4f11a2.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    {% include 'escalArt/includes/menu.html' %}

    <!--Sobre-Nosotros-->
    <section class="contenedor-nos sobre-nosotros" id="contenedor-nos sobre-nosotros">
        <h2 class="titulo">SOBRE NOSOTROS</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="img/emprendimiento.jpg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Inicio</h3>
                <p>Nuestro inicio en el mundo de los cosmeticos comenzo en 2017 con nuestra primera pyme, donde creamos un perfil de instagram donde haciamos publicidad de nuestros productos. Con el pasar del tiempo fuimoos de a poco adaptandonos a gustos
                    y estilos de nuestros clientes, de forma paralela adquiriendo nuevos productos para la venta.</p>
                <p>Fue asi como empezo la idea de formar un negocio mas grande, que fuese mas alla de solo la region de santiago...comenzar con el despacho a regiones, y lograr tener nuestro propio negocio fisico en la region.</p>
                <h3><span>2</span>Presente</h3>
                <p>Hoy en dia contamos con 2 negocios dentro de la region metropolitana y mas de 35 personas trabajando para nosotros. Formamos una gran comunidad con nuestros clientes los cuales siempre son de gran ayuda al momento de darnos criticas ya
                    sean buenas o constructivas para nuestro negocio.</p>
                <p>El buen trato hacia nuestros clientes y un servicio de calidad es lo principal para nosotros, gracias a eso hemos podido surgir mas alla de una pequeña pyme por la cual empezamos. Nuestra meta es poder llevar mas negocios fuera de la region,
                    asi poder ampliar la venta fisica de nuestros productos y al mismo tiempo aumentar la gente que desea trabajar con nosotros.</p>
            </div>
        </div>
    </section>
    <div class="scrol"></div>
    <div class="title-creadores">
        <h2 class="titulo">Creadores/Fundadores</h2>
    </div>
    <div class="container-perfiles">
        <div class="img-cont-perfiles">
            <div class="img img-1"></div>
            <div class="info-perfiles">
                <h2>Isadora Robinson</h2>
                <h4>Lorem ipsum dolor sit amet.</h4>
            </div>
            <div class="social-perfil">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://github.com/DiegoOrdenes/EscalArt"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="img-cont-perfiles">
            <div class="img img-2"></div>
            <div class="info-perfiles">
                <h2>Fabian Zambrano</h2>
                <h4>Lorem ipsum dolor sit amet.</h4>
            </div>
            <div class="social-perfil">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://github.com/DiegoOrdenes/EscalArt"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="img-cont-perfiles">
            <div class="img img-3"></div>
            <div class="info-perfiles">
                <h2>Diego Ordenes</h2>
                <h4>Lorem ipsum dolor sit amet.</h4>
            </div>
            <div class="social-perfil">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://github.com/DiegoOrdenes/EscalArt"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'escalArt/includes/footer.html' %}

</body>

</html>