{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/cambiar_pass.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">

</head>

<body>
    <!--Menu/Header de la pagina-->
    {% include 'escalArt/includes/menu.html' %}

    <!--Inicio de sesion-->
    {% load crispy_forms_tags %}
    <div class="container-login">
        <div class="container__form">
            <img src="{% static 'EscalArt/img/candado.png' %}" alt="IMG Candado">
            <h2>Cambiar Contraseña</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <p>
                    <label>Nueva contraseña</label>
                    <input type="password" name="new_password1"></input>
                </p>
                <p>
                    <label>Confirmar contraseña</label>
                    <input type="password" name="new_password2"></input>
                </p>
                <ul style="color: white;">
                    <li>
                        Tu contraseña no puede ser similar a tu informacion personal.

                    </li>
                    <li>
                        Tu contraseña debe contener al menos 8 caracteres.

                    </li>
                    <li>
                        Tu contraseña no puede ser una palabra comunmente usada.

                    </li>
                    <li>
                        Tu contraseña no puede estar compuesta completamente por numeros.

                    </li>
                </ul>
                <div class="btn-guardar">
                    <input class="boton-form" type="submit" value="Guardar Cambios" name="Update Password">
                </div>

            </form>
        </div>
    </div>

    <!-- Menu toggle -->
    <script type="text/javascript" src="{% static 'EscalArt/js/menu.js' %}"></script>
</body>

</html>