{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/login.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'EscalArt/css/Menu-Fotter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <!--Menu/Header de la pagina-->
    <header>
        <nav class="nav">
            <div class="logo">EscalArt</div>
            <div class="search-box">
                <input type="text" placeholder="Buscando...">
                <a href="##" class="icon">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-comment-dots"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-question"></i></a></li>
            </ul>
        </nav>
    </header>
    <!--Inicio de sesion-->
    {% load crispy_forms_tags %}
    <div class="container-login">
        <div class="container__form">
            <img src="{% static 'EscalArt/img/candado.png' %}" alt="IMG Candado">
            <h2>Iniciar Sesion</h2>
            <form action="" method="POST">
                {% csrf_token %} {{ form | crispy}}
                <input class="check" type="checkbox" id="checkid">
                <label for="checkid">Recuerdame</label>
                <a href="#">¿Olvidaste tu contraseña?</a>


                <input class="boton-form" type="submit" value="Iniciar Sesion">

            </form>
        </div>
    </div>

</body>

</html>