{% load static %}

<!--Pie de la pagina-->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{% static 'EscalArt/img/EscalArt.png' %}" alt="Logo EscalArt">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>¿Quienes Somos?</h2>
            <p>Somos un sistema web que tiene como funcionalidad facilitar la comunicacion y comercializacion del trabajo.</p>
            <p>de los artistas que quieran emprender en nuestro sitio web</p>
        </div>
        <div class="box">
            <h2>SIGUENOS...</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 EscalArt <b>Equipo EscalArt</b> - Politica de privacidad - Terminos de Servicios</small>
    </div>
</footer>