<!-- Header      Diseño Antiguo
<header>
    <nav class="nav">
        <div class="logo">EscalArt</div>

        <form method="GET" class="search-box" action=" {% url 'buscar-perfil' %}">
            <input name="query" value="{{request.GET.query}}" type="text" placeholder="Buscando..." class="form-control" aria-describedby="basic-addon1">
            <button type="submit" class="icon">
                <i class="fas fa-search"></i>
            </button>
        </form>


        <ul class="menu">
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="{% url 'chats' %}"><i class="fa-solid fa-comment-dots"></i></a></li>
            <li>
                <a href="{% url 'ayudacliente' %}"><i class="fa-solid fa-question"></i></a>
            </li>
            {% if user.is_authenticated %}
            <li onclick="mostrarConfig();"> <a><i class="fa-solid fa-circle-user"></i></a></li> {%endif%}
        </ul>
    </nav>
    {% if user.is_authenticated %}
    <div id="Configuracion">
        <ul class="Configuracion-menu">

            {% if user.tipoCuenta.tipoCuenta == 'artista' %}
            <li><i class="fa-solid fa-circle-user"></i><a href="{% url 'perfil' user.username %}">Perfil</a></li>
            {% else %}
            <li><i class="fa-solid fa-circle-user"></i><a href="{% url 'perfil_cliente' user.username %}">Perfil</a></li>
            {% endif %}

            <li><i class="fa-solid fa-gear"></i><a href="{% url 'configuracion' %}">Configuracion</a></li>
            <span class="linea_2"></span>
            <li class="Cerrar-Sesion"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
    </div>
    {%endif%}
</header> -->



<!--    Diseño Nuevo  Isaa puedes poner las validaciones please :D?  -->
<!--Header-->
<header>
    <nav class="nav">
        <div class="logo">EscalArt</div>
        <div class="search-box">
            <input type="text" placeholder="Buscando...">
            <a href="##" class="icon">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <ul class="menu">
            <!--Mostrar si el Usuario no esta logeado-->
            <li style="display: none;" class="home-not-loged"><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
            <div class="menu-logearse">
                <ul>
                    <li style="display: none;"><a href="#"><button>Iniciar Sesion</button></a></li>
                    <li style="display: none;"><a href="#"><button>Registrarse</button></a></li>
                </ul>
            </div>
            <!--Mostrar esto si el usuario esta logeado-->
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="{% url 'chats' %}"><i class="fa-solid fa-comment-dots"></i></a></li>
            <li><a href="{% url 'ayudacliente' %}"><i class="fa-solid fa-question"></i></a></li>
            <li onclick="mostrarConfig();"> <a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
        </ul>
    </nav>
    <!--Mostrar si hace click en el perfil(Logeado)-->
    <div id="Configuracion">
        <ul class="Configuracion-menu">
            <li><i class="fa-solid fa-circle-user"></i><a href="#">Perfil</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Configuracion</a></li>
            <span class="linea_2"></span>
            <li class="Cerrar-Sesion"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
    </div>
</header>
<div class="scrol"></div>