<!--Header-->
<header>
    <nav class="nav">
        <div class="logo">EscalArt</div>

        <form method="GET" class="search-box" action=" {% url 'buscar-perfil' %}">
            <input name="query" value="{{request.GET.query}}" type="text" placeholder="Buscando..." class="form-control" aria-describedby="basic-addon1">
            <button type="submit" class="icon">
                <i class="fas fa-search"></i>
            </button>
        </form>


        <ul class="menu">
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="{% url 'chats' %}"><i class="fa-solid fa-comment-dots"></i></a></li>
            <li>
                <a href="{% url 'ayudacliente' %}"><i class="fa-solid fa-question"></i></a>
            </li>
            {% if user.is_authenticated %}
            <li onclick="mostrarConfig();"> <a><i class="fa-solid fa-circle-user"></i></a></li> {%endif%}
        </ul>
    </nav>
    {% if user.is_authenticated %}
    <div id="Configuracion">
        <ul class="Configuracion-menu">
            <li><i class="fa-solid fa-circle-user"></i><a href="{% url 'perfil' user.username %}">Perfil</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="{% url 'configuracion' %}">Configuracion</a></li>
            <span class="linea_2"></span>
            <li class="Cerrar-Sesion"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        </ul>
    </div>
    {%endif%}
</header>